div.menu ul li.list-header {

  padding: 10px;
  font-size: 14px;
  margin-bottom: 1px;
}
div.menu ul li a{
  display:inline-block;
  width:100%;
  color:#6E757C;
  padding: 10px;
  }
div.menu ul li a:focus{
  background-color: #6E757C;
  color:#fff;
}

div.menu ul li a:focus span.number{
  background-color:#EE3D41;
  border: solid 1px #EE3D41;

  
}
div.menu ul li a:focus i{
  color: white;
  
}