*{
  box-sizing:border-box;
}
body{
  background-color:#EBF0EF;
  font-family: helvetica, Georgia, Serif;
}

div.menu ul{
  width: 40%;
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 0 1px lightgrey;
  margin-left: 40%;
}
div.menu li{
  background-color: white;
  list-style: none;
  padding: 0px;
  font-size: 14px;
  margin-bottom: 1px;
}
div.menu li a:link{
  text-decoration: none;
  color: rgb(164,166,170);
}
div.menu li a:visited{
 color: rgb(164,166,170);
}
div.menu li.list-header{
  background-color: rgb(76,80,85);
  color: white;
  padding:10px 0px 10px 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
div.menu li span.number{
  float: right;
  border: solid 1px lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}
i{
  padding:5px 5px 0px 5px;
  color: rgb(210,213,219);
}